html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.el-header{
  padding: 0;
  height: 50px;
}
.el-menu--horizontal>.el-menu-item.is-active{
  border-bottom: none;
}

.el-card {
  border-radius: 10px;
  background-color: rgba(250,251,254,0.9);
  margin-top: 20px;
  transition: box-shadow 0.3s ease-in-out;

}
.box-card:hover {
  box-shadow: 0 20px 20px -10px rgba(0,0,0,0.25);
}
.el-pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
