html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.el-card {
    margin-top: 10px;
}
.el-pagination  {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


